.login-container {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.MuiFormControl-root-117 {
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
	display: -webkit-box !important;
}