.icon-check{
  font-family: ICON;
    font-size: 1em;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.grid-35{
  margin: 10px;
  float: left;
  width: 35%;
  padding: 20px;
  background: 0 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: block;
}

.badge {
  background: #004990;
padding: 13px;
-webkit-border-radius: 75%;
-moz-border-radius: 75%;
border-radius: 75%;
display: inline-block;
color: #fff;
line-height: .5em;
float: none;
    margin-left: -1%;
}
h3 {
  font-size: 1.5714285714285714rem;
  font-family: "DIN Next",Helvetica,Arial,sans-serif;
  color: #333;
}
.v-spacing-jumbo{
      margin-bottom: 40px!important;
}
.btn.btn-block {
    display: block;
    margin: 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid transparent;
    white-space: nowrap;
    font-weight: 400;
    padding: 0 15px;
    height: 44px;
    min-height: 44px;
    max-height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-size: 1rem;
    border-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #338700;
}
.v-spacing-small {
    margin-bottom: 10px!important;
}
